@import '../../mixins/colors';

.container-fluid{
    background-image: url('../../..//assets/img/background/fondo2.jpg');
    background-color: #cccccc; /* Used if the image is unavailable */
    height:auto; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
}
h2{
    color: white;
    font-family: $font3;
    font-weight: bold;
    text-align: center !important;
}
p{
    color: white;
    font-family: $font2;
}

.card{
    border: none;
    background: transparent;
    ul{
        list-style: none;
        li{
            color: white;
        }
    }
    a{
        img{
            height: 25px;
            width: auto;
            margin: 0px 5px;
        }
    }
}

    .size{
        justify-content: flex-end;
        .mb-2{
            margin-left: -5px;
            img{
                height: 60px;
            }
        }   
    }

.uno{
    text-align: center;
}

@media (max-width: 720px){
    .card{
        text-align: center !important;
        .card-img-top{
            height: 120px !important;
        }
    }
    
}