@mixin style1($color: transparent, $border:transparent, $top:120px, $bottom: 0px) {
        background: $color !important;
        border: $border !important;
        margin-top:  $top;
        margin-bottom: $bottom !important;
}

@mixin style2 ($height:0px){    
        height: $height;
}

@mixin style3($top:0px, $bottom: 0px){
        margin-top: $top;
        margin-bottom: $bottom;   
}
@mixin text ($color: white, $size: 30px){
        color: $color;
        font-size: $size;
}