<div class="container-fluid">
<div class="container">
    <div class="spancig" style="margin-top: 70px;">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="slider">
                        <div class="text" style="color: white !important;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam pariatur quos optio soluta nostrum rem officia, est consequuntur, suscipit similique fuga iste accusantium in eaque alias quo tempora eius rerum laborum voluptatibus veniam, molestias tenetur? Tempore voluptatibus in vitae blanditiis, exercitationem dignissimos ducimus veniam quia laboriosam laborum voluptates unde consequuntur!</div>
                       
                        <div class="text" style="color: white !important;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore sunt nemo repudiandae dicta nisi incidunt soluta eius, error facilis fugit asperiores molestiae tenetur vel et minus. Veritatis non alias, eum nobis minima harum cum ipsum quas accusamus! Commodi atque vero nisi, et excepturi minima laudantium quod illum eligendi quo numquam?</div>
    
                        <div class="text" style="color: white !important;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis expedita ipsum veritatis officiis magnam sint asperiores vel ducimus et modi numquam aperiam optio, incidunt minima architecto esse illo, impedit non. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, quae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, deleniti!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
