@import '../../../mixins/colors';
@import '../../../mixins/mixin';
.card-text{
    p{
        text-align: -webkit-center;
    }
}

.row{
    margin-left: 0px !important;
}
.small{
    @include style2(200px);
}

.big{
    @include style2(410px)
}
.top{
    @include style3(-211px)
}
.bottom{
    margin-bottom: 10px;
}

.card{
    border: none;
    margin-left: -20px;
    background: transparent;
}
.spacing{
    @include style3(70px, 40px);
    .card-title{
        font-family: $font3;
        font-weight: bold;
        font-size: 30px;
    }
    p{
        font-family: $font4;
    }
}

@media (max-width: 800px){
    .big{
        @include style2(230px);
    }
    .top{
        @include style3(-60px );
    }
    .small{
        @include style2(170px !important);
    }
    .bottom{
        margin-bottom: 10px ;
    }  
    .bottom2{
        margin-bottom: 10px ;
    }
    .card{
        border: none !important;
        margin-left: -20px ;
    }
    .row{
        margin-left: 0px !important;
    }
}

@media (min-width: 580px) and (max-width: 720px){
    .big{
        @include style2(200px );
    }
    .top{
        @include style3(-30px );
    }
    .card{
        border: none !important;
        margin-left: -20px ;
    }
}

@media (min-width: 0px) and (max-width: 570px){
    .big{
        @include style2(280px !important );
    }
    .small{
        @include style2(280px !important);
    }
    .top{
        @include style3(0px !important);
    }

    .bottom{
        margin-bottom: 10px ;
    }  
    .bottom2{
        margin-bottom: 10px ;
    }
    .card{
        border: none !important;
        margin-left: 0px !important;
    }
    .row{
        margin-left: -15px !important;
    }
}

